<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject">
        <activity
            android:name=".FileModule.EnterColorCombination"
            android:exported="false" />
        <activity
            android:name=".FileModule.ColorAuth"
            android:exported="false" />
        <activity
            android:name=".FileModule.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".FileModule.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".FileModule.MyRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".FileModule.FileActivity"
            android:exported="false" />
        <activity
            android:name=".activeProject.model.ProjectActivity"
            android:exported="false" />
        <activity android:name=".InsertNoteActivity" />
        <activity android:name=".DeadlinesActivity" />

        <receiver
            android:name=".Notification"
            android:enabled="true" />

        <activity android:name=".TodoList" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>